<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>966410175711-r8d5lluo40qem5oq8trj56nh7hpg3elc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.966410175711-r8d5lluo40qem5oq8trj56nh7hpg3elc</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>966410175711-vb1jpd58t7llve1qu095j6cd6vkm43hm.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB5TK9-0TzIrzG4MzsbT4aQJspfV-TI7Qg</string>
	<key>GCM_SENDER_ID</key>
	<string>966410175711</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dodoProject</string>
	<key>PROJECT_ID</key>
	<string>dodo-project-44989</string>
	<key>STORAGE_BUCKET</key>
	<string>dodo-project-44989.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:966410175711:ios:156bc0ec0a7e5d72e8556a</string>
</dict>
</plist>